<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  
<!-- main-cont -->
<table class="body">
  <tr>
    <td>
      <center>
      
        <container>
          <!--=include include.html/header.html -->
            <columns small="12" large="12">
            <spacer size="40"></spacer>
            <hr />
             <row >
                <columns small="2" large="2"> 
                  <img src="https://s21.postimg.org/bf32yndef/unnamed.jpg" alt=""  width="68" />
                </columns>
                <columns small="10" large="10"> 
                  <spacer size="5"></spacer>
                  <p style="font-size:11px">Ежедневно мы работаем над тем, чтобы подавать декларации, возвращать налоги и управлять пенсией Вам было еще выгоднее, удобнее и проще. <br>Сергей Цаболов, Генеральный директор, Налогия</p>
                </columns>
            </row>
            <hr />
          </columns>
          <!--=include include.html/footer.html -->
      </container>

    </center>
  </td>
</tr>
</table>
<!-- main-cont -->
    
    
</body>
</html>